@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes/default';
@import '@nebular/theme/styles/themes/dark';

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('./fonts/Montserrat-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('./fonts/Montserrat-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Montez', Cursive;
  src: url('./fonts/Montez-Regular.ttf') format('opentype');
}

// $nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    // colors
    color-primary-100: #fefcf4,
    color-primary-200: #fef8ea,
    color-primary-300: #fef4e0,
    color-primary-400: #feefd8,
    color-primary-500: #fee8cb,
    color-primary-600: #dab994,
    color-primary-700: #b68d66,
    color-primary-800: #936440,
    color-primary-900: #794726,
    color-success-100: #e1fddc,
    color-success-200: #bdfbba,
    color-success-300: #95f499,
    color-success-400: #77ea87,
    color-success-500: #4ddd6f,
    color-success-600: #38be64,
    color-success-700: #269f5a,
    color-success-800: #18804e,
    color-success-900: #0e6a47,
    color-info-100: #dfedff,
    color-info-200: #bfd9ff,
    color-info-300: #9fc3ff,
    color-info-400: #87b1ff,
    color-info-500: #6092ff,
    color-info-600: #4670db,
    color-info-700: #3052b7,
    color-info-800: #1e3893,
    color-info-900: #12257a,
    color-warning-100: #fff7da,
    color-warning-200: #ffedb5,
    color-warning-300: #ffe190,
    color-warning-400: #ffd575,
    color-warning-500: #ffc147,
    color-warning-600: #db9d33,
    color-warning-700: #b77b23,
    color-warning-800: #935c16,
    color-warning-900: #7a460d,
    color-danger-100: #ffe3e2,
    color-danger-200: #ffc5c8,
    color-danger-300: #ffa9b6,
    color-danger-400: #ff93ae,
    color-danger-500: #ff70a2,
    color-danger-600: #db518f,
    color-danger-700: #b7387e,
    color-danger-800: #93236c,
    color-danger-900: #7a1560
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    // colors
    color-primary-100: #fefcf4,
    color-primary-200: #fef8ea,
    color-primary-300: #fef4e0,
    color-primary-400: #feefd8,
    color-primary-500: #fee8cb,
    color-primary-600: #dab994,
    color-primary-700: #b68d66,
    color-primary-800: #936440,
    color-primary-900: #794726,
    color-success-100: #e1fddc,
    color-success-200: #bdfbba,
    color-success-300: #95f499,
    color-success-400: #77ea87,
    color-success-500: #4ddd6f,
    color-success-600: #38be64,
    color-success-700: #269f5a,
    color-success-800: #18804e,
    color-success-900: #0e6a47,
    color-info-100: #dfedff,
    color-info-200: #bfd9ff,
    color-info-300: #9fc3ff,
    color-info-400: #87b1ff,
    color-info-500: #6092ff,
    color-info-600: #4670db,
    color-info-700: #3052b7,
    color-info-800: #1e3893,
    color-info-900: #12257a,
    color-warning-100: #fff7da,
    color-warning-200: #ffedb5,
    color-warning-300: #ffe190,
    color-warning-400: #ffd575,
    color-warning-500: #ffc147,
    color-warning-600: #db9d33,
    color-warning-700: #b77b23,
    color-warning-800: #935c16,
    color-warning-900: #7a460d,
    color-danger-100: #ffe3e2,
    color-danger-200: #ffc5c8,
    color-danger-300: #ffa9b6,
    color-danger-400: #ff93ae,
    color-danger-500: #ff70a2,
    color-danger-600: #db518f,
    color-danger-700: #b7387e,
    color-danger-800: #93236c,
    color-danger-900: #7a1560
  ),
  dark,
  dark
);
